@page
@model AsignaSalones.App.Frontend.Pages.EliminarHorarioClaseModel
@{
}
<h1>Se va a eliminar el Horario de Clase</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Cantidad de Personas</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.horarioClase.nombre</td>
            <td>@Model.horarioClase.cantPersonas</td>
            <td>@Model.horarioClase.hora</td>
        </tr>
    </tbody>
</table>
<form method="post">
    <input type="hidden" asp-for="horarioClase.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>